.banner_wr {
    display: flex;
}

.handle {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
}

.handle_iten {
    width: 30px;
    height: 3px;
    background-color:#D6CAC2;
    margin-bottom: 11px;
}

/* image */

.monster {
    position: absolute;
    left: 555px;
    top: 142px;
}

.banner {
    background: #EEE4DB;
}

.banner__inner__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    max-width: 307px;
    margin: 89px 0 89px 0;
}

.shipping {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: #C29974;
}

.servises_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}

.servises_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.servises_list-item {
    display: flex;
    flex-direction: column;
    width: 280px; 
    height: 270px;
    margin: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 195px;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.about::after {
    content: ''; 
    display: block;
    position: absolute;
    top: 231px;
    right: -110px;
    width: 1180px;
    height: 411px;
    background: #EEE4DB;
}



.popup-form {
        display: block;  
    /*display: none;*/
    position: absolute; 
    top: 30%;
    left: 30%;
    width: 680px;
height: 542px;
left: 360px;
top: 113px;

}

.open{
display: block;    
}

.fildset-double {
    display: flex;
    justify-content: space-between;
} 

.label-wraqpper {
    display: flex;
    flex-direction: column;
}

.field-nner_wrapper {
    display: flex;
    justify-content: space-between;
}

/*input*/

input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

/*popup*/
